header {
    height: 100vh;
    padding: 5rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*CTA*/
.CTA {
    margin-top: 2.5rem;
    display:flex;
    gap:1.2rem;
    justify-content: center;
}

/*SociaILS*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: o.8rem;
    position: absolute;
    left:0;
    bottom:3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* image */

.me {
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem); 
    margin-top: 4rem;
    border-radius: 12rem 12rem 0rem 0rem ;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    transition: all 1sec ease;
    
}

.me:hover{
    background: linear-gradient(transparent,var(--color-primary));
}

.text-big{
    font-size: 3rem;
    font-weight: 500;
    font-family: fangsong;
    color: var(--color-primary);
}

.me img{
    height: inherit;
    margin-top: -6rem;
    margin-left: 1.5rem;
}

.scroll_down {
    position: absolute;
    right: -2.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width:1024px){
    
   .header {
    height: 68vh;
   }
}

@media screen and (max-width:600px) {
    header {
        height: 100vh;
    }

    .header__socials,.scroll_down {
        display: none;
    }
}
